@media (min-width: 768px) {
  div#wrapper.wrapper-ventas {
    padding-left: 150px;
  }
  .sidebar-ventas .side-nav {
    width: 150px;
  }
  .sidebar-ventas .side-nav > li > a {
    width: 150px;
  }
}
div#wrapper.wrapper-login {
  padding-left: 0;
}
div#wrapper {
  margin: 0 auto;
  max-width: 1440px;
}
.bar-buttons-action {
  text-align: right;
}
.form-group .error {
  color: red;
  background: #ededed;
  padding: 5px 20px;
}
.box-right {
  float: right;
}
.custom_width_number {
  width: 25%;
  float: left;
}
.custom_width_select {
  width: 75%;
  float: left;
}
.box-detail dd {
  margin-bottom: 10px;
}
.box-detail dd:last-child {
  margin-bottom: 0;
}
.box-buttons a,
.box-buttons button {
  margin-right: 3px;
}
.box-info-show {
  margin: 0;
}
.sidebar-ventas {
  width: 140px;
}
#page-wrapper.content-ventas {
  margin-left: 0px;
  padding: 0;
}
#page-wrapper.content-ventas .form-control {
  border-radius: 0;
}
#page-wrapper.content-ventas .box-list-products {
  height: 400px;
  max-height: 400px;
  background-color: #FCFCFC;
  margin-left: 15px;
  padding: 0;
}
#page-wrapper.content-ventas .box-product-description {
  padding: 0;
  width: 40%;
}
#page-wrapper.content-ventas .btn-add-product {
  width: 50%;
  float: right;
  border-radius: 0;
  height: 70px;
}
#page-wrapper.content-ventas .box-cantidad input {
  text-align: right;
  padding-right: 0;
}
#page-wrapper.content-ventas .total-box {
  margin-left: 15px;
  padding: 0;
}
#page-wrapper.content-ventas .box-sub-total,
#page-wrapper.content-ventas .box-iva-total,
#page-wrapper.content-ventas .box-total-total {
  padding: 0;
}
#page-wrapper.content-ventas .box-sub-total div,
#page-wrapper.content-ventas .box-iva-total div,
#page-wrapper.content-ventas .box-total-total div {
  padding-right: 0;
}
